---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
<hr />
    {{ post.content | strip_html | truncatewords:35}}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">ಹಳೇದು</a>
  {% else %}
    <span class="pagination-item older">ಹಳೇದು</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">ಹೊಸಾದು</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">ಹೊಸಾದು</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">ಹೊಸಾದು</span>
  {% endif %}
</div>

