*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
   -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}


  /*Light Switch*/
label {
  display: block;
  height: 25px;
  width: 100px;
  background: #eee;
  text-align: center;
  font: 14px/25px Helvetica, Arial, sans-serif;
  margin: 20px 0;
  position: fixed;
}

label:hover {
  background: #ddca7e;
  color: #fff;
  cursor: pointer;
}

input#lightswitch {
   position: absolute;
   top: -9999px;
   left: -9999px;
}     
  




input#lightswitch:checked + .body {
  background: #222;
}


input#lightswitch:checked + .body h1 {
  color: #ddca7e;
}

input#lightswitch:checked + .body h2 {
  color: #ddca7e;
}

input#lightswitch:checked + .body p {
  color: #aaa;
}



