<!-- Social Button HTML -->

<div class="fb-like" data-href="https://www.facebook.com/webjeda" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div><br /><br />
<div id="ss">
<!-- Facebook -->
<a href="javascript:fbshareCurrentPage()" target="_blank" class="share-btn facebook"><img src="/img/facebook-share-webjeda.png">
</a>&nbsp;
<!-- reddit -->
<a  href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"><img src="/img/reddit-submit.jpg" alt="submit to reddit" border="0" /></a>&nbsp;
  <!-- Twitter -->
   <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="webdesign" data-via="webjeda" data-count="vertical" target="_blank" class="share-btn twitter">
    </a>

<!-- Google Plus -->
&nbsp;<div class="g-plus" data-action="share"></div><br />

</div>

<style>

#ss { 
    display:flex;
   }
    

    
</style>


<div id="fb-root"></div>
<script>
    
    (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=549480635219583";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script>
function fbshareCurrentPage()
    {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href)+"&t="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
</script>

<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>



<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
