---
layout: default
---

 <div class="article">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
<!--   <br />
  <label for="input-1" class="control-label">Rate This</label>
  <input id="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="1"> -->
</div>
<hr />
{% assign author = site.authors[page.author] %}

	
         <h2 >ಇದನ್ನು ಬರೆದವರು</h2>
		<div style="display:flex; margin-top:5px;"><img src="{{ author.gravatar }}">
                <div  class="author" style="margin-top:5px; margin-left: 20px;"><strong>{{ author.display_name }}</strong><br />
                            <div style="margin-left:5px;"> 
                                    <a href="{{ author.facebook }}" ><i class="fa fa-facebook-square fa-2x"></i></a>
                                    <a href="{{ author.twitter }}" ><i class="fa fa-twitter-square fa-2x"></i></a>
                                    <a href="{{ author.email }}" ><i class="fa fa-envelope-square fa-2x"></i></a>
                            </div>
                </div>
	
        </div>  
        <hr>
        <h3>ಶೇರ್‍ ಮಾಡಿ</h3>
        {% include  share.html %}
        <hr class="style15">
        
        <hr>
        {% include  disqus.html %}
<div class="related">
  <h2>ಇದೇ ತರಹದ ಅಂಕಣಗಳು</h2> 
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
